.App {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 30vw;
  padding: 1vw 1vw;
  border: none;
  box-shadow: 5px 5px 5px 5px #8dc1c1;
  border-radius: 20px;
}

input {
  border: none;
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
  width: calc(100% - 20%);
  opacity: 0.8;
}
.App span {
  font-weight: bold;
  font-size: clamp(1rem, 0.5vw, 1rem);
}
.App button {
  margin-top: 1vw;
  font-weight: bold;
  font-family: sans-serif;
  border: none;
  border-radius: 10px 10px 10px 10px;
  width: 15vw;
  padding: 1vw 1vw;
  background-color: #51b9d0;
  font-size: clamp(0.9rem, 2vw, 1rem);
  cursor: pointer;
}
.App button:hover {
  background-color: #4c8d9c;
}
.Main-div {
  display: grid;
  grid-template-columns: 20% 22% 20% 20%;
  row-gap: 3rem;
  column-gap: 1rem;
  margin-top: 20px;
  margin: 2rem 0 0 3rem;
}
.List {
  box-shadow: 10px 10px 10px 10px #8dc1c1;
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
}
.List li {
  padding: 0.8rem 0 0 0.5rem;
  font-size: clamp(0.4rem, 1.2vw, 1rem);
}
.List li span {
  font-weight: bold;
}
/* .Delete {
  text-align: end;
  padding: 0 0.3rem 0 0;
  color: grey;
}
.Delete span:hover {
  color: black;
  cursor: pointer;
} */
@media only screen and (max-width: 1051px) {
  .Main-div {
    grid-template-columns: 23% 23% 23% 23%;
    margin: 2rem 0 0 2rem;
  }
}
@media only screen and (max-width: 568px) {
  .Main-div {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-top: 20px;
    margin: 2rem 0 0 1rem;
  }
  .List li {
    padding: 0.8rem 0 0 0.5rem;
    font-size: clamp(0.5rem, 1.2vw, 1rem);
  }
}
@media only screen and (max-width: 820px) {
  .Main-div {
    grid-template-columns: 24% 23% 23% 23%;
    margin: 2rem 0 0 1rem;
  }
}
@media only screen and (max-width: 631px) {
  .Main-div {
    grid-template-columns: 22% 22% 24% 22%;
    margin: 2rem 0 0 1rem;
  }
  .List li {
    padding: 0.8rem 0 0 0.5rem;
    font-size: clamp(0.6rem, 1.2vw, 1rem);
  }
}
@media only screen and (max-width: 607px) {
  .Main-div {
    grid-template-columns: 30% 30% 30%;
  }
}
@media only screen and (max-width: 425px) {
  .Main-div {
    display: grid;
    grid-template-columns: 45% 45%;
  }
}
@media only screen and (max-width: 385px) {
  .App button {
    font-size: clamp(0.7rem, 2vw, 1rem);
  }
}
@media only screen and (max-width: 350px) {
  .Main-div {
    display: grid;
    grid-template-columns: 95%;
  }
  .List li {
    font-size: clamp(0.9rem, 1.2vw, 1rem);
  }
}
@media only screen and (max-width: 300px) {
  .App button {
    font-size: clamp(0.5rem, 2vw, 1rem);
    font-weight: bold;
  }
}

