.App {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 30vw;
  padding: 1vw 1vw;
  border: none;
  box-shadow: 5px 5px 5px 5px #8dc1c1;
  border-radius: 20px;
}

input {
  border: none;
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
  width: calc(100% - 20%);
  opacity: 0.8;
}
.App span {
  font-weight: bold;
  font-size: clamp(1rem, 0.5vw, 1rem);
}
.App button {
  margin-top: 1vw;
  font-weight: bold;
  font-family: sans-serif;
  border: none;
  border-radius: 10px 10px 10px 10px;
  width: 15vw;
  padding: 1vw 1vw;
  background-color: #51b9d0;
  font-size: clamp(0.9rem, 2vw, 1rem);
  cursor: pointer;
}
.App button:hover {
  background-color: #4c8d9c;
}
.Main-div {
  display: grid;
  grid-template-columns: 20% 22% 20% 20%;
  row-gap: 3rem;
  column-gap: 1rem;
  margin-top: 20px;
  margin: 2rem 0 0 3rem;
}
.List {
  box-shadow: 10px 10px 10px 10px #8dc1c1;
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
}
.List li {
  padding: 0.8rem 0 0 0.5rem;
  font-size: clamp(0.4rem, 1.2vw, 1rem);
}
.List li span {
  font-weight: bold;
}


